.header{
    max-width: 980px;
    justify-self: center;
    justify-content: start;
    background-color: antiquewhite;
}

.gridContainer{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    max-width: 980px;
    justify-self: center;
}

.post {
    width: 100%;  
    aspect-ratio: 1 / 1 ; /* Ensures a perfect square */
    object-fit: cover;  /* Crops image without distortion */
    border-radius: 5px; /* Optional: Adds rounded corners */
}
